/node_modules/
/lib/
/test/
custom-elements.json
# top level source
psychopomp-dance.js
psychopomp-dance.js.map
psychopomp-dance.d.ts
psychopomp-dance.d.ts.map
# only generated for size check
psychopomp-dance.bundled.js